<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">BankCorp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Inicio</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Nosotros
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Historia</a></li>
            <li>
              <a class="dropdown-item" href="#">Mision, Vision & Objetivo</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Valores Institucionales</a>
            </li>
            <li><a class="dropdown-item" href="#">Trabaja con Nosotros</a></li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Responsabilidad Social</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">Educación Finalciera</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Consejos de Seguridad</a>
                </li>
                <li><a class="dropdown-item" href="#">Protege tus Datos</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#">Transparencia</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Productos
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Ahorros</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Ahorro Mi Futuro</a></li>
                <li><a class="dropdown-item" href="#">Ahorro Vista</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Créditos</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">Crédito de consumo</a>
                </li>
                <li><a class="dropdown-item" href="#">Microcédito</a></li>
                <li><a class="dropdown-item" href="#">Crédito Vehicular</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Inversiones</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">Depósito a Plazo Fijo</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Servicios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Billetera Móvil</a></li>
            <li><a class="dropdown-item" href="#">Cajeros Automáticos</a></li>
            <li><a class="dropdown-item" href="#">EasyPagos</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Contactos</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Simuladores
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Créditos</a></li>
            <li><a class="dropdown-item" href="#">Inversiones</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Online
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">Documentos Electronicos</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
